html, body {
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: #dee2e6;
    background-color: #212529;
    font-family: 'Hind', sans-serif;
    text-transform: uppercase;
}

.container {
    position: relative;
    line-height: 0;
}

canvas {
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.75);
}
